[Unit]
Description=Quote Service Application
After=network.target

[Service]
User=kranthij307
WorkingDirectory=/opt/QuoteService/QuoteService/
ExecStart= /bin/bash -c '/opt/QuoteService/venv/bin/python3 /opt/QuoteService/main.py'
Restart=always


[Install]
WantedBy=multi-user.target
