[Unit]
Description=Quote Service Application
After=network.target

[Service]
User=kranthij307
WorkingDirectory=/opt/QuoteService/QuoteService/
ExecStart= /bin/bash -c '/opt/QuoteService/venv/bin/python3 /opt/QuoteService/QuoteService/main.py'
Restart=no

ExecStartPre=/bin/bash -c 'if pgrep -f "/opt/QuoteService/QuoteService/main.py"; then exit 1; fi'


[Install]
WantedBy=multi-user.target
